.taskItemContainer {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #E8E8E8;

    .checkedTask {
        text-decoration: line-through;
        text-decoration-thickness: 2px;
        color: #939393 !important;
    }

    .textTask {
        color: #494949;
        font-size: 20px;
        margin-left: 10px;
        flex-grow: 1;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 42ch;
        line-height: normal;

        @media screen and (max-width: 860px) {
            max-width: 12ch;
        }
    }
}
